/* ーーー基本ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
[class*=flower_illust] {
    /* 画像サイズ */
    width: 200px;
    height: auto;
    object-fit: cover;

    /* 画像の場所 */
    /* 注意：animationでtransformを使用しているため、top left は50%ではなく、数値で指定しておく。 */
    position: absolute;
    top: 30%;
    left: 40%;

    /* アニメーションに関する記述 */
    animation-name: rotateAnime;
    animation-duration: 10s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


/* くるくる回るアニメーション  */
@keyframes rotateAnime {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */

.bg {
    height: 100vh;
    width: auto;
    background: lightyellow;
    position: relative;
}

/* 複数の花を、回転の速度や大きさを変更して配置  */
.flower_illust_2 {
    width: 100px;
    position: absolute;
    top: 10%;
    left: 12%;
    animation-duration: 15s;
}

.flower_illust_3 {
    /* 画像サイズ小さく */
    width: 120px;
    position: absolute;
    top: 60%;
    left: 65%;
    animation-duration: 12s;

}

.flower_illust_4 {
    /* 画像サイズ小さく */
    width: 80px;
    position: absolute;
    top: 22%;
    left: 80%;
    animation-duration: 9s;

}

.flower_illust_5 {
    /* 画像サイズ小さく */
    width: 80px;
    position: absolute;
    top: 80%;
    left: 25%;
    animation-duration: 7s;

}

.text_wrapper {
    width: 50%;
    margin: auto;
    padding-top: 100px;
}

body {
    margin: 0;
}